.carousel__container{
    width: auto;

    display: flex;
    flex-direction: row;
}

.carousel-title__container{
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.carousel-description__container{
    width: 40%
}

.carousel-description-text__container{
    margin-top: 1vh;
    margin-bottom: 30px;
}

.carousel-description__link{
    text-decoration: none;
}

.carousel-description-link__text{
    font-size: var(--desc-font-size);
    color: var(--primary-color);
}

.carousel__item{
    display: flex;
    flex-direction: row;

    width: 100%;
    padding: 20px;
}

.carousel__button{
    background-color: transparent;
    border: 0;

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
}

.carousel__button-img{
    filter: invert(100%);
    height: 30px;
    width: 30px;
    transition: filter 1s, height 1s, width 1s;
}

.carousel__button-img:hover{
    filter: invert(60%) sepia(67%) saturate(1486%) hue-rotate(218deg) brightness(89%) contrast(85%);
    height: 35px;
    width: 35px;
}

.carousel-img__container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 60%;

    padding: 10vh 2vw;
}

.carousel-selected-img__container{
    display: flex;
    justify-content: center;
}

.carousel-unselected-img__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 30px;
}

.carousel-unselected-img{
    width: 100px;
    transition: width 0.5s linear;
}

.carousel-unselected-img:hover{
    width: 110px;
}

.carousel-selected-img{
    width: 350px;
    
    border: 1px solid var(--primary-color);
}

@media only screen and (max-width: 1000px){
    .carousel__item{
        display: flex;
        flex-direction: column;
    }
    .carousel-description__container{
        width: 100%
    }
    .carousel-img__container{
        width: 100%;
    }
    .carousel-img__container{
        padding: 2vh 2vw;
    }

}